<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: header">
</head>

<body class="nav-md" onload="listartipodocumento();">
	<div class="container body">
		<div class="main_container">
			<div th:insert="/fragments/natLeft :: left-nav"></div>
<!-- 			<div th:replace="/layout/layout :: left-nav"></div> -->
			<div th:insert="/fragments/topNav :: top-nav"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">

					<div class="clearfix"></div>

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<div class="title_right">
										<div
											class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
											<div class="input-group">
												<input type="text" class="form-control"
													placeholder="Search for..."> <span
													class="input-group-btn">
													<button class="btn btn-default" type="button">BUSCAR!</button>
												</span>
											</div>
										</div>
									</div>
									<h2>DOCUMENTOS RECIBIDOS</h2>


									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<form class="form-horizontal" novalidate
										th:action="@{/pdfRecibidos}" method="GET"
										th:object="${documento}" enctype="multipart/form-data">
										<div
											class="ccol-md-3 col-sm-3 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Seleccione
												un Tipo de Documento *</label> <select id="cbotipodocumento"
												name="tipoDocumento" class="form-control">
											</select>
										</div>
										
										
										<div class='col-sm-2'>
											<label for="formFileMultiple" class="form-label">Fecha
												Inicio *</label>
											<div class="form-group">
												<div class='input-group date fechaReporte'>
													<input type='text' class="form-control"
														name="fechaRecepcionDocI" id='finicio' /> <span
														class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
										<div class='col-sm-2'>
											<label for="formFileMultiple" class="form-label">Fecha
												Fin *</label>
											<div class="form-group">
												<div class='input-group date fechaReporte'>
													<input type='text' class="form-control"
														name="fechaRecepcionDocF" id='ffin' /> <span
														class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>

										<!-- 									<div class='col-sm-2'> -->
										<!-- 										pdf<a class="btn btn-danger btn-xs float-right" -->
										<!-- 											th:href="@{/pdfRecibidos}" target="_BLANK">GENERAR -->
										<!-- 											REPORTE</a> -->
										<!-- 									</div> -->
										<div class="col-sm-2">
											<div class='col-sm-2'><br>
											
												<button id="send" type="submit" class="btn btn-success" formtarget="_blank">
												<i class="fa fa fa-download"></i> GENERAR PDF </button>
											
											</div>
										</div>
									</form>

									<table id=""
										class="table table-striped table-bordered display">
<!-- 										<div class='col-sm-2'> -->
<!-- 											<a class="btn btn-primary btn-xs float-right" -->
<!-- 												th:href="@{/documents/repo-recibidos/ (format=pdf)}"><i class="fa fa-file-pdf-o"></i>  EXPORTAR -->
<!-- 												A PDF</a> -->
<!-- 										</div> -->
<!-- 										<div class='col-sm-2'> -->
<!-- 											<a class="btn btn-primary btn-xs float-right" -->
<!-- 												th:href="@{/documents/repo-recibidos/ (format=pdf)}"><i class="fa fa-file-excel-o"></i>  EXPORTAR -->
<!-- 												A EXCEL</a> -->
<!-- 										</div> -->
										<thead>
											<tr>
												<th>Tipo Doc.</th>
												<th>Nro. Doc.</th>
												<th>Clasificacion</th>
												<th>Fecha Doc.</th>
												<th>Remitente</th>
											</tr>
										</thead>


										<tbody>
											<tr th:each="recibido : ${listadocumentos}">
												<td th:text="${recibido.acronimoTipoDoc}"></td>
												<td th:text="${recibido.numDoc}"></td>
												<td th:text="${recibido.acronimoClasificacion}"></td>
												<td th:text="${recibido.fechaDoc}"></td>
												<td th:text="${recibido.unidadRemitente}"></td>

											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- /page content -->
			<div th:insert="/fragments/footer :: footer"></div>

		</div>
	</div>

	<div th:insert="/fragments/jQuery :: jQuery"></div>
	<script src="../assets/ajax/cargarselect.js"></script>
	<!-- 	<script src="/assets/ajax/formReports.js"></script> -->
</body>
</html>