<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: header">
<meta charset="UTF-8">
</head>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	
</script>

<body class="nav-md"
	onload="listarnucleos();listartipodocumento();listarclasificacion();">
	<div class="container body">
		<div class="main_container">
			<div th:insert="/fragments/natLeft :: left-nav"></div>
			<!-- 			<div th:replace="/layout/layout :: left-nav"></div> -->
			<div th:insert="/fragments/topNav :: top-nav"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Documentos Remitidos</h2>

									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>

								<div class="x_content">

									<form class="form-horizontal" novalidate
										id="formularioRemitidos"
										th:action="@{/documents/save-remitidos}" method="POST"
										th:object="${documento}" enctype="multipart/form-data">
										<input type="hidden" id="documentoId" name="documentoId"
											th:value="${codigo}" />
										<div id="divcbotipodocumento"
											class="ccol-md-3 col-sm-3 col-xs-12 form-group has-feedback">
											<label id="lblcbotipodocumento" class="form-label">Seleccionar
												*</label> <select id="cbotipodocumento" name="tipoDocumento"
												class="form-control" onchange="validarchange();">
											</select>
										</div>
										<div id="divnumeroDocumento"
											class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
											<label id="lblnumeroDocumento" class="form-label">Nro.
												de Documento *</label> <input type="text" class="form-control"
												id="numeroDocumento" name="numeroDocumento"
												placeholder="Numero de Documento"
												onkeydown="validarchange();" onkeypress="maxleng();">
										</div>
										<div class='col-sm-3'>
											<label class="form-label">Fecha Documento *</label>
											<div class="form-group">
												<div class=''>
													<input type='date' class="form-control"
														name="fechaDocumento" /> 
												</div>


											</div>
										</div>
										
<!-- 										<div> -->
<!-- 											<input type="text" class="form-control" id="dtpfecha" -->
<!-- 												name="fechaRecepcion" -->
<!-- 												th:value="${#temporals.format(localDate, 'dd/MM/YY')}" -->
<!-- 												aria-describedby="inputSuccess2Status" /> -->
<!-- 										</div> -->

										<div
											class="ccol-md-3 col-sm-3 col-xs-12 form-group has-feedback">
											<label class="form-label">Documento de Referencia</label>
											<div class="form-group">
												<input type="text" class="form-control"
													id="documentoReferencia" name="documentoReferencia"
													placeholder="Documento Referencia"
													th:value="${numDocumento}"> <span
													class="glyphicon "></span>
											</div>
										</div>
										<div>
											<input type="hidden" th:value="${usuario.division}"
												name="nucleoRemitente" />
										</div>
										<div>
											<input type="hidden" th:value="${usuario.granUnidad}"
												name="brigadaRemitente" />
										</div>

										<input type="hidden" th:value="${usuario.unidad}"
											name="unidadRemitente" />


										<div id="divasunto"
											class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
											<label id="lblasunto" class="form-label">Asunto </label>
											<textarea id="asunto" name="asunto"
												class="form-control col-md-7 col-xs-12"
												onkeydown="validarchange();"></textarea>
										</div>



										<div id="divnucleoResponsable"
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label id="lblnucleoResponsable" class="form-label">Nucleo
												Responsable</label> <select id="cbonucleosremitente"
												name="nucleoResponsable" class="form-control"
												onchange="listarbrigadasremitente();validarchange();">
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label class="form-label">GGUU Responsable</label> <select
												id="cbobrigadasremitente" name="brigadaResponsable"
												class="form-control" onchange="listarunidadesremitente();">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label class="form-label"> Unidad Responsable *</label> <select
												id="cbounidadesremitente" name="unidadResponsable"
												class="form-control">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div id="divcboclasificacion"
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label id="lblcboclasificacion" class="form-label">Seleccionar</label>
											<select id="cboclasificacion" name="clasificacion"
												class="form-control" onchange="validarchange();">
											</select>
										</div>
										<div id="divarchivopdf"
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label id="lblarchivopdf" class="form-label">Adjuntar
												PDF</label> <input class="form-control" type="file" id="archivopdf"
												name="archivopdf" accept=".pdf" onchange="validarchange();" />
											<span id="alertafile"
												style="background-color: #DC143C; color: white; text-align: center;"
												class=""></span>
										</div>
										<div></div>

										<br>
										<div class="ccol-md-12 col-sm-12 col-xs-12 " align="center">
											<a th:href="@{/documents/registro}" class="btn btn-danger">Cancelar</a>
											<button id="" type="submit" class="btn btn-success">Guardar</button>
										</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">

									<h2>Lista Documentos Remitidos</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<!-- 									<table id="mitabla" class="table table-striped table-bordered display"> -->
									<table id="mitabla"
										class="table table-striped table-bordered display">
										<thead>
											<tr>
												<th>Tipo Doc.</th>
												<th>Nro. Doc.</th>
												<th>Fec. Documento</th>
												<th>Asunto</th>
												<th>Responsable</th>
												<th>Archivo</th>
												<!-- 												<th>Responsable</th> -->
											</tr>
										</thead>
										<tbody>
											<tr th:each="remitido : ${listaremitidos}">
												<td th:text="${remitido.respuesta}">OFICIO</td>
												<td th:text="${remitido.numeroDocumento}">2201</td>

												<td th:text="${remitido.fechaDocumento}"></td>
												<td th:text="${remitido.asunto}">DETEL</td>
												<td th:text="${remitido.unidadResponsable}">CONFIDENCIAL</td>
												<td>
													<button type="button" class="btn btn-success"
														role="menuitem" tabindex="-1" data-toggle="modal"
														data-target=".bs-example-modal-sm"
														th:onclick="ver([[(${remitido.documentoId})]])">
														<span class="glyphicon glyphicon-folder-open"></span>
													</button>

												</td>

												<!-- 												<td><span th:each="res : ${respondido}" -->
												<!-- 													th:if="${remitido.numeroDocumento  == res.documentoReferencia}" -->
												<!-- 													th:text=${res.asunto}></span></td> -->



											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>

						<!-- inicio del modal -->
						<div class="modal fade bs-example-modal-sm" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">X</span>
										</button>
										<h4 class="modal-title" id="myModalLabel2">VISTA DEL
											DOCUMENTO</h4>
										<h1 th:text="${namefile}"></h1>
									</div>
									<div class="embed-responsive embed-responsive-16by9"
										style="height: 720px">
										<iframe class="embed-responsive-item"
											title="W3Schools Free Online Web Tutorials" width="100%"
											height="100%" id="filecontent"></iframe>
										<h1 th:text="${namefile}"></h1>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Cerrar</button>
									</div>

								</div>
							</div>
						</div>
						<!--fin del modal -->
					</div>
				</div>
			</div>
			<!-- /page content -->

			<div th:insert="/fragments/footer :: footer"></div>

		</div>
	</div>

	<div th:insert="/fragments/jQuery :: jQuery"></div>

	<script src="../assets/ajax/cargarselect.js"></script>
	<script src="../assets/ajax/decretoDocumento.js"></script>
	<script src="../assets/ajax/datatables.js"></script>


	<script type='text/javascript'>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("formularioRemitidos").addEventListener(
					'submit', validar);
		});

		///VALIDAR numero documento
		function maxleng() {
			//var texto = $("#numeroDocumento").val();
			var input = document.getElementById('numeroDocumento');
			input.addEventListener('input', function() {
				if (this.value.length > 4)
					this.value = this.value.slice(0, 4);
			});
		}
		function validarNumDoc(elementoNumDoc, msg) {
			var texto = $("#" + elementoNumDoc).val();
			var valor = /^\d{4}$/;

			if (texto.length == 0 || texto.length < 3) {
				$("#lbl" + elementoNumDoc).css('color', '#A14241');
				$("#div" + elementoNumDoc).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + elementoNumDoc).css('color', '#789DC1');
				$("#div" + elementoNumDoc).removeClass("has-error");
				$("#errorform").html("");
			}
		}

		function validarSelect(elementotipDoc, msg) {
			var indice = $("#" + elementotipDoc).val();
			if (indice == 0) {
				$("#lbl" + elementotipDoc).css('color', '#A14241');
				$("#div" + elementotipDoc).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + elementotipDoc).css('color', '#789DC1');
				$("#div" + elementotipDoc).removeClass("has-error");
				$("#errorform").html("");
			}
		}

		//funcio para validar cadena de caracteres o letras 
		function validarletra(id, cntletras, msg) {
			if ($("#" + id).val().length < cntletras) {
				$("#lbl" + id).css('color', '#A14241');
				$("#div" + id).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + id).css('color', '#789DC1');
				$("#div" + id).removeClass("has-error");
				$("#errorform").html("");
				//return true;
			}
			return true;
		}

		function validarPDF() {
			// Obtener nombre de archivo
			let archivo = document.getElementById('archivopdf').value,
			// Obtener extensión del archivo
			extension = archivo.substring(archivo.lastIndexOf('.'),
					archivo.length);
			// Si la extensión obtenida no está incluida en la lista de valores
			// del atributo "accept", mostrar un error.
			if (document.getElementById('archivopdf').getAttribute('accept')
					.split(',').indexOf(extension) < 0) {
				//alert('Archivo inválido. No se permite la extensión ' + extension);
				$("#lblarchivopdf").css('color', '#A14241');
				$("#divarchivopdf").addClass("has-error");
				$("#errorform").html("Seleccione un Archivo .PDF");
				return false;
			} else {
				$("#lblarchivopdf").css('color', '#789DC1');
				$("#divarchivopdf").removeClass("has-error");
				$("#errorform").html("");
				//return true;
			}

		}

		function validarchange() {

			if (validarSelect("cbotipodocumento",
					"Seleccione un Tipo Documento.") == false) {
				return false;
			}

			if (validarNumDoc("numeroDocumento",
					"Ingrese un numero de Documento.") == false) {
				return false;
			}

			if (validarSelect("cbonucleos", "Seleccione una Opcion.") == false) {
				return false;
			}

			if (validarletra("asunto", 5, "Ingrese Asunto del Documento.") == false) {
				return false;
			}

			if (validarSelect("cbonucleosremitente", "Seleccione una Opcion.") == false) {
				return false;
			}
			cboclasificacion

			if (validarSelect("cboclasificacion", "Seleccione una Opcion.") == false) {
				return false;
			}

			nombre = $('#archivopdf').val();

			if (nombre.length <= 48) {

				$("#alertafile").html('');

				return true;
			} else {
				//alert('Maximo 36 caracteres nombre del archivo');
				var alerta = $('#alertafile').val();

				$("#alertafile")
						.html('Maximo 36 caracteres nombre del archivo');

				return false;
			}
			return true;
		}

		function validar(evento) {
			evento.preventDefault();

			if (validarchange() == false) {
				return;
			}

			this.submit();
		}
	</script>

</body>
</html>