<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: header">
</head>

<body class="nav-md"
	onload="listarnucleos();listartipodocumento();listarclasificacion();">
	<div class="container body">
		<div class="main_container">
			<div th:insert="/fragments/natLeft :: left-nav"></div>
			<!-- 			<div th:replace="/layout/layout :: left-nav"></div> -->
			<div th:insert="/fragments/topNav :: top-nav"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<div class="title_right">
										<div
											class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
											<div class="input-group">
												<ul class="nav navbar-right panel_toolbox">
													<li><a class="collapse-link"><i
															class="fa fa-chevron-up"></i></a></li>
													<li><a class="close-link"><i class="fa fa-close"></i></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<h2>REGISTRO DE DOCUMENTOS</h2>

									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<form class="form-horizontal"
										th:action="@{/documents/save-recibidos}" method="POST"
										th:object="${documento}" enctype="multipart/form-data"
										id="formularioRegistro" name="formRegistro">
										<p id="errorform" style="color: #A14241;"></p>
										<input type="hidden" value="RECIBIDO"
											name="descripcionDocumento" /> <input type="hidden"
											value="0" name="estadoRegistro" />


										<div
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label><input type="radio" name=tipoOrganizacion
												onclick="listarnucleos();" value="I" checked="">DOCUMENTOS
												INTERNOS</label>
										</div>
										<div
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label><input type="radio" name="tipoOrganizacion"
												onclick="listarnucleos();" value="E">DOCUMENTOS
												EXTERNOS</label>
										</div>

										<div id="divcbotipodocumento"
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label class="form-label" id="lblcbotipodocumento">Seleccionar
												*</label> <select id="cbotipodocumento" name="tipoDocumento"
												class="form-control" onchange="validarchange();">
											</select>
										</div>

										<div id="divnumeroDocumento"
											class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label id="lblnumeroDocumento" class="form-label">Nro.
												Documento *</label> <input type="number" class="form-control"
												id="numeroDocumento" autocomplete="off" 
												th:field="*{numeroDocumento}" 
												placeholder="Numero de Documento" 
												min="4"
												maxlength="4"
												onkeydown="validarchange();" onkeypress="maxleng();">
											<!-- 												<small id='numeroDocumento' style="color: #A14241;"></small> -->
											<!-- 												<p id="errorform" style="color: #A14241;"></p> -->
										</div>
										<div class='col-sm-6'>
											<label for="formFileMultiple" class="form-label">Fecha
												del Documento *</label>
											<div class="form-group">
												<div class='input-group date' id='myDatepicker2'>
													<input type='text' class="form-control" autocomplete="off"
														name="fechaDocumento"
														th:value="${#temporals.format(localDate, 'dd/MM/yy')}" />
													<span class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
										<div class='col-sm-6'>
											<label for="formFileMultiple" class="form-label">Fecha
												de Recepcion *</label>
											<div class="form-group">
												<div class='input-group date' id='myDatepicker2'>
													<input type="text" class="form-control" id="dtpfecha"
														name="fechaRecepcion"
														th:value="${#temporals.format(localDate, 'dd/MM/yy')}"
														readonly="" aria-describedby="inputSuccess2Status" /> <span
														class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
										<div id="divcbonucleos"
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label id="lblcbonucleos" class="form-label">Nucleo
												Remitente *</label> <select id="cbonucleos" name="nucleoRemitente"
												class="form-control"
												onchange="listarbrigadas();validarchange();">
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Gran
												Unidad Remitente *</label> <select class="form-control"
												onchange="listarunidades();" id="cbobrigadas"
												name="brigadaRemitente">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Unidad
												Responsable *</label> <select class="form-control" id="cbounidades"
												name="unidadRemitente">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div id="divasunto"
											class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
											<label id="lblasunto" class="form-label">Asunto *</label>
											<textarea id="asunto" name="asunto"
												onkeydown="validarchange();"
												class="form-control col-md-7 col-xs-12"></textarea>
										</div>
										<div id="divcbonucleosremitente"
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label id="lblcbonucleosremitente" class="form-label">Nuc.
												Responsable *</label> <select id="cbonucleosremitente"
												name="nucleoResponsable" class="form-control"
												onchange="listarbrigadasremitente();validarchange();">
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label class="form-label">GGUU Responsable *</label> <select
												id="cbobrigadasremitente" name="brigadaResponsable"
												class="form-control" onchange="listarunidadesremitente();">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label class="form-label"> UU Responsable *</label> <select
												id="cbounidadesremitente" name="unidadResponsable"
												class="form-control">
												<option>Seleccione ...</option>
											</select>
										</div>
										<div id="divcboclasificacion"
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label id="lblcboclasificacion" class="form-label">Seleccione
												la Clasificacion del Documento *</label> <select
												id="cboclasificacion" name="clasificacion"
												class="form-control" onchange="validarchange();">
												<!-- 												<small id='cboclasificacion' style="color: #A14241;"></small> -->
											</select>
										</div>
										<div id="divarchivopdf"
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label id="lblarchivopdf" class="form-label">Seleccione
												Un Archivo PDF *</label> <input class="form-control" type="file"
												id="archivopdf" name="archivopdf" accept=".pdf"
												onchange="validarchange();" />
										</div>
										<div class="form-group">
											<div>
												<a th:href="@{/documents/registro}" class="btn btn-danger">Cancelar</a>
												<!-- 												<button class="btn btn-danger">Cancel</button> -->
												<button id="" type="submit" class="btn btn-success">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						

							<!-- inicio del modal -->
							<div class="modal fade bs-example-modal-sm" tabindex="-1"
								role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">X</span>
											</button>
											<h4 class="modal-title" id="myModalLabel2">VISTA DEL
												DOCUMENTO</h4>
											<h1 th:text="${namefile}"></h1>
										</div>
										<div class="embed-responsive embed-responsive-16by9"
											style="height: 720px">
											<iframe class="embed-responsive-item"
												title="W3Schools Free Online Web Tutorials" width="100%"
												height="100%" id="filecontent"></iframe>
											<h1 th:text="${namefile}"></h1>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cerrar</button>
										</div>

									</div>
								</div>
							</div>
							<!--fin del modal -->

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<div class="title_right">
										<div
											class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
											<div class="input-group">
												<input type="text" class="form-control"
													placeholder="Search for..."> <span
													class="input-group-btn">
													<button class="btn btn-default" type="button">Buscar!</button>
												</span>
											</div>
										</div>
									</div>
									<h2>DOCUMENTOS REGISTRADOS</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<table id="" class="table table-striped table-bordered display">
										<thead>
											<tr>
												<th>Tipo Doc.</th>
												<th>Nro. Doc.</th>
												<th>Fecha Doc.</th>
												<th>Remitente</th>
												<th>Asunto</th>
												<th>Archivo</th>
												<th>Responde</th>
												<th>Archivo</th>
											</tr>
										</thead>


										<tbody>
											<tr th:each="lista : ${listadoc}">
												<td th:text="${lista.respuesta}">2201</td>
												<td th:text="${lista.numeroDocumento}">13/05/2021</td>
												<td th:text="${lista.fechaDocumento}">13/05/2021</td>
												<td th:text="${lista.unidadRemitente}">DETEL</td>
												<td th:text="${lista.asunto}">CONFIDENCIAL</td>
												<td>
													<button type="button" class="btn btn-success"
														role="menuitem" tabindex="-1" data-toggle="modal"
														data-target=".bs-example-modal-sm"
														th:onclick="ver([[(${lista.documentoId})]])">
														<span class="glyphicon glyphicon-folder-open"></span>
													</button>

												</td>
												
												<td><span th:each="res : ${respondido}"
													th:if="${lista.numeroDocumento  == res.documentoReferencia}"
													th:text=${res.asunto}></span></td>
													
													<td>													
													<button  type="button"  th:each="res : ${respondido}"
													th:if="${lista.numeroDocumento  == res.documentoReferencia}"
													class="btn btn-success"
														role="menuitem" tabindex="-1" data-toggle="modal"
														data-target=".bs-example-modal-sm"
														th:onclick="ver([[(${res.documentoId})]])"  >
														<span class="glyphicon glyphicon-folder-open"></span>
														</button>
													
													</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->
			<div th:insert="/fragments/footer :: footer"></div>
		</div>
	</div>

	<div th:insert="/fragments/jQuery :: jQuery"></div>
	<script src="../assets/ajax/cargarselect.js"></script>
	<script src="../assets/ajax/decretoDocumento.js"></script>


	<script type='text/javascript'>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("formularioRegistro").addEventListener(
					'submit', validar);
		});

		///VALIDAR numero documento
		function maxleng() {
			//var texto = $("#numeroDocumento").val();
			var input = document.getElementById('numeroDocumento');
			input.addEventListener('input', function() {
				if (this.value.length > 4 && this.value.length < 4)
					this.value = this.value.slice(0, 4);
			});
		}
		function validarNumDoc(elementoNumDoc, msg) {
			var texto = $("#" + elementoNumDoc).val();
			var valor = /^\d{4}$/;

			if (texto.length == 0 || texto.length < 3) {
				$("#lbl" + elementoNumDoc).css('color', '#A14241');
				$("#div" + elementoNumDoc).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + elementoNumDoc).css('color', '#789DC1');
				$("#div" + elementoNumDoc).removeClass("has-error");
				$("#errorform").html("");
			}
		}

		function validarTipoDoc(elementotipDoc, msg) {
			var indice = $("#" + elementotipDoc).val();
			if (indice == 0) {
				$("#lbl" + elementotipDoc).css('color', '#A14241');
				$("#div" + elementotipDoc).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + elementotipDoc).css('color', '#789DC1');
				$("#div" + elementotipDoc).removeClass("has-error");
				$("#errorform").html("");
			}
		}

		//funcio para validar cadena de caracteres o letras 
		function validarletra(id, cntletras, msg) {
			if ($("#" + id).val().length < cntletras) {
				$("#lbl" + id).css('color', '#A14241');
				$("#div" + id).addClass("has-error");
				$("#errorform").html(msg);
				return false;
			} else {
				$("#lbl" + id).css('color', '#789DC1');
				$("#div" + id).removeClass("has-error");
				$("#errorform").html("");
				//return true;
			}
			return true;
		}

		function validarPDF() {
			// Obtener nombre de archivo
			let archivo = document.getElementById('archivopdf').value,
			// Obtener extensión del archivo
			extension = archivo.substring(archivo.lastIndexOf('.'),
					archivo.length);
			// Si la extensión obtenida no está incluida en la lista de valores
			// del atributo "accept", mostrar un error.
			if (document.getElementById('archivopdf').getAttribute('accept')
					.split(',').indexOf(extension) < 0) {
				//alert('Archivo inválido. No se permite la extensión ' + extension);
				$("#lblarchivopdf").css('color', '#A14241');
				$("#divarchivopdf").addClass("has-error");
				$("#errorform").html("Seleccione un Archivo .PDF");
				return false;
			} else {
				$("#lblarchivopdf").css('color', '#789DC1');
				$("#divarchivopdf").removeClass("has-error");
				$("#errorform").html("");
				//return true;
			}

		}

		function validarchange() {

			if (validarTipoDoc("cbotipodocumento",
					"Seleccione un Tipo Documento.") == false) {
				return false;
			}

			if (validarNumDoc("numeroDocumento",
					"Ingrese un numero de Documento.") == false) {
				return false;
			}

			if (validarTipoDoc("cbonucleos", "Seleccione una Opcion.") == false) {
				return false;
			}

			if (validarletra("asunto", 10, "Ingrese Asunto del Documento.") == false) {
				return false;
			}

			if (validarTipoDoc("cbonucleosremitente", "Seleccione una Opcion.") == false) {
				return false;
			}
			cboclasificacion

			if (validarTipoDoc("cboclasificacion", "Seleccione una Opcion.") == false) {
				return false;
			}

			if (validarPDF() == false) {
				return false;
			}
			return true;
		}

		function validar(evento) {
			evento.preventDefault();

			if (validarchange() == false) {
				return;
			}

			this.submit();
		}
	</script>
</body>
</html>
