<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/header :: header">
  
</head>

<body class="nav-md" onload="listarnucleos();">
	<div class="container body">
		<div class="main_container">
			<div th:insert="/fragments/natLeft :: left-nav"></div>
<!-- 			<div th:replace="/layout/layout :: left-nav"></div> -->
			<div th:insert="/fragments/topNav :: top-nav"></div>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Documentos Recibidos</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>

								<div class="x_content">
									<form class="form-horizontal" novalidate>
										<div class="">
											<label><input type="radio" name="tiporecepcion" onclick="listarnucleos();" value="0" checked="">Documentos Internos</label>
											<label><input type="radio" name="tiporecepcion" onclick="listarnucleos();" value="1">Documentos Externos</label>
										</div>
										<div
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Seleccionar*</label> <select class="form-control">
												<option>OFICIO</option>
												<option>HT</option>
												<option>HR</option>
												<option>MEMORANDUM</option>
											</select>
										</div>
										<div
											class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Ingrese
												el Numero de Documento *</label> <input type="text"
												class="form-control" id="inputSuccess3"
												placeholder="Numero de Documento">
										</div>
										<div class='col-sm-6'>
											<label for="formFileMultiple" class="form-label">Fecha
												del Documento *</label>
											<div class="form-group">
												<div class='input-group date' id='datetimepicker6'>
													<input type='text' class="form-control" /> <span
														class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
										<div class='col-sm-6'>
											<label for="formFileMultiple" class="form-label">Fecha
												de Recepcion *</label>
											<div class="form-group">
												<div class='input-group date' id='datetimepicker6'>
													<input type='text' class="form-control" /> <span
														class="input-group-addon"> <span
														class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Nucleo
												Remitente *</label> 
												<select id="cbonucleos" class="form-control" onchange="listarbrigadas();">
												</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Gran
												Unidad Remitente *</label> 
												<select class="form-control" onchange="listarunidades();" id="cbobrigadas">						<option>Seleccione ...</option>				
												</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Unidad
												Responsable *</label> 
												<select class="form-control" id="cbounidades">	
													<option>Seleccione ...</option>											
												</select>
										</div>
										<div
											class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Asunto
												del Documento *</label>
											<textarea id="textarea" required="required" name="textarea"
												class="form-control col-md-7 col-xs-12"></textarea>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Nucleo
												Responsable *</label> <select class="form-control">
												<option>Seleccione ...</option>
												<option>COPERE</option>
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Gran
												Unidad Responsable *</label> <select class="form-control">
												<option>Seleccione ...</option>
												<option>COPERE</option>
											</select>
										</div>
										<div
											class="ccol-md-4 col-sm-4 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Unidad
												Responsable *</label> <select class="form-control">
												<option>Seleccione ...</option>
												<option>DETEL</option>
											</select>
										</div>
										<div
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Seleccione
												la Clasificacion del Documento *</label> <select
												class="form-control">
												<option>COMUN</option>
												<option>RESERVADO</option>
												<option>SECRETO</option>
												<option>CONFIDENCIAL</option>
											</select>
										</div>
										<div
											class="ccol-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<label for="formFileMultiple" class="form-label">Seleccione
												Un Archivo PDF *</label> <input class="form-control" type="file"
												id="formFileMultiple" multiple />
										</div>


										<div class="ln_solid"></div>
										<div class="form-group">
											<div>
												<button type="submit" class="btn btn-primary">Cancel</button>
												<button id="send" type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<div class="title_right">
											<div
												class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
												<div class="input-group">
													<input type="text" class="form-control"
														placeholder="Search for..."> <span
														class="input-group-btn">
														<button class="btn btn-default" type="button">Go!</button>
													</span>
												</div>
											</div>
										</div>
										<h2>Lista de Documentos Recibidos</h2>
										<ul class="nav navbar-right panel_toolbox">
											<li><a class="collapse-link"><i
													class="fa fa-chevron-up"></i></a></li>
											<li><a class="close-link"><i class="fa fa-close"></i></a>
											</li>
										</ul>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">

										<table id=""
											class="table table-striped table-bordered display">
											<thead>
												<tr>
													<th>Tipo Doc.</th>
													<th>Nro. Doc.</th>
													<th>Fecha Doc.</th>
													<th>Fecha Recepcion</th>
													<th>Remitente</th>
													<th>Responsable</th>
													<th>Clasificacion</th>
												</tr>
											</thead>


											<tbody>
												<tr>
													<td>OFICIO</td>
													<td>2201</td>
													<td>13/05/2021</td>
													<td>13/05/2021</td>
													<td>DETEL</td>
													<td>SJAO</td>
													<td>CONFIDENCIAL</td>
												</tr>
												<tr>
													<td>HR</td>
													<td>2202</td>
													<td>12/05/2021</td>
													<td>13/05/2021</td>
													<td>DETEL</td>
													<td>AYUDANTIA</td>
													<td>COMUN</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
					</div>
					
				     
					
					
					
				</div>
			</div>
			<!-- /page content -->
			<div th:insert="/fragments/footer :: footer"></div>

		</div>
	</div>

	<div th:insert="/fragments/jQuery :: jQuery"></div>

</body>
</html>